[Unit]
Description=Lamy Pen Button as Eraser
After=xochitl.service

[Service]
ExecStart=/usr/sbin/RemarkableLamyEraser
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
